/*Nav Bar*/
nav{
    z-index: 9;
    position: fixed;
    display: block;
    top: 0;
    border-bottom: 2px solid #a30000;
    background-color: #0A0E18;

}

ul{
    padding: 0;
    width: 100vw;
    display:flex;
    justify-content:center;
}

li{
    list-style-type: none;
}

li a{
    margin-left: 5vw;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Abhaya Libre', serif;
    font-weight: 900;
    font-size: calc(1vw + 1.5vh);
    color: #fff;
}

li:hover a{
   color:bisque; 
   text-decoration: underline;
}



/*animations*/
@keyframes Left {
    0% {

        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes Right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes load {
    0% {

        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


/*cursor*/
.cursor{
    display: block;
    z-index: 9999;
    background: #a30000;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-shadow: 5px 17px 49px -12px rgba(0, 0, 0, 0.61);
    transition: transform 0.5s ease;
}

.active{
    transform:scale(4);
}

.cursor.active::before{
    content: "Voir";
    font-size: 10%;
    font-family: 'Abril Fatface', cursive;
    display: block;
    transform: translate(20%,75%);
    color: #F3F0E2;
}

*{
    cursor: none;
}

a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
}

/*apparition au deffilement */
.reveal {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}


/*background*/
body,
html {
    background-color: #0A0E18;
    margin: 0;
}

/*welcome*/
.Background {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #F3F0E2;
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    align-items: right;
    animation: load;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

p.Bienvenue {
    color: #0A0E18;
    font-size: calc(5vw + 5vh);
    max-width: 90vw;
    font-family: 'Abril Fatface', cursive;
    font-weight: 900;
    margin-left: 5%;
    animation: Left 1.5s cubic-bezier(0, 0, .1, .99);
    z-index: 10;

}

/*About*/
.about {
    z-index: 8;
    background-color: #F3F0E2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 5%;
}

.about p:nth-child(2n+1) {
    z-index: 8;
    color: #0A0E18;
    position: relative;
    text-align: start;
    margin-left: 10%;
    width: 50%;
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: calc(2vw + 2vh);
    animation: Left cubic-bezier(0, 0, .1, .99);
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;


}
.about p{
    opacity: 0;
}

.about p:nth-child(2n) {
    z-index: 8;
    color: #0A0E18;
    position: relative;
    margin-left: 65%;
    width: 20%;
    text-align: end;
    font-family: 'Abhaya Libre', serif;
    font-weight: 900;
    font-size: calc(2vw + 2.5vh);
    animation: Right cubic-bezier(0, 0, .1, .99);
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.about p:nth-child(2) {
    color:#a30000;
}

/*Projet*/
.project {
    width: 100vw;
    height: 100%;
}

.TitleP {
    font-family: 'Abril Fatface', cursive;
    font-size: calc(8vw + 1vh);
    text-align: right;
    color: #F3F0E2;
    font-weight: 700;
    margin-bottom: 20%;
    position: relative;
    right: 5%;
}

.Projet {

    display: flex;
    justify-content: space-between;
    border-top: 2px solid #F3F0E2;
    font-family: 'Abhaya Libre', serif;
    width: 85%;
    margin: auto;
}

.Projet:last-child {
    margin-bottom: 30%;
    border-bottom: 2px solid #F3F0E2;
}


.name{
    color: #F3F0E2;
    font-size: calc(1vw + 1vh);
    margin-left:3%;
}

.langages,
.langagesMax{
    color: #F3F0E2;
    font-size: calc(0.5vw + 1vh);
    margin-right:3%;
    margin-top: 1%;
}




/*technologies*/
.T {
    position: relative;
    left: -5%;
    height: 100%;
    width: 105vw;
    background-color: #F3F0E2;
    z-index: 1;
}

.TitleT {
    font-family: 'Abril Fatface', cursive;
    font-size: calc(7vw + 1vh);
    text-align: left;
    color: #0A0E18;
    margin-top: 4%;
    margin-bottom: 10%;
    margin-left: 8%;
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    border-top: 2px solid #0A0E18;
    border-bottom: 2px solid #0A0E18;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 50s linear infinite;
    animation-play-state: running;
}

.marquee span:nth-child(2n) {
    font-family: 'Alegreya', serif;
    font-size: 11vw;
    padding: 0 3.5vw;
    color: #0A0E18;
}

.marquee span:nth-child(2n+1) {
    font-family: 'Anton', sans-serif;
    font-size: 10vw;
    padding: 0 3.5vw;
    color: #0A0E18;
}

.marquee:hover .marquee__inner {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    50% {
        transform: translate3d(var(--move-final), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
}

/*marquee2*/

.marquee2 {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    border-bottom: 2px solid #0A0E18;
    margin-bottom: 2%;
}

.marquee__inner2 {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee2 50s linear infinite;
    animation-play-state: running;
}

.marquee2 span:nth-child(2n) {
    font-family: 'Alegreya', serif;
    font-size: 12vw;
    padding: 0 3.5vw;
    color: #0A0E18;
}

.marquee2 span:nth-child(2n+1) {
    font-family: 'Anton', sans-serif;
    font-size: 10vw;
    padding: 0 3.5vw;
    color: #0A0E18;
}

.marquee2:hover .marquee__inner2 {
    animation-play-state: paused;
}

@keyframes marquee2 {

    0% {
        transform: translate3d(var(--move-final), 0, 0);
    }

    50% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

/*Contact*/

button.Contact {
    background: none;
    border: none;
    margin: 5%;
    color: #F3F0E2;
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;
    font-size: calc(8vw + 2.5vh);
}

.Contact a{
    color: #F3F0E2;
    white-space: nowrap;
}


/*thx*/

div.thx {
    background-color: #F3F0E2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100%;
}

h2.thx {
    color: #0A0E18;
    font-family: 'Abril Fatface', cursive;
    font-weight: 900;
    font-size: calc(14vw + 1vh);
    text-align: center;
}
